extends layout

block content

  div.header1
    
  div.header2
     

    
  .datospaciente
    label(for="nombre") Nombre:
    input#nombre.nombre(name="nombre", required, placeholder="Ingresa tu nombre(s)", maxlength="25", type="text")
    label(for="primerapellido") Primer apellido:
    input#primerapellido.primerapellido(name="primerapellido", required, placeholder="Ingresa tu primer apellido", maxlength="15", type="text")
    label(for="segundoapellido") Segundo apellido:
    input#segundoapellido.segundoapellido(name="segundoapellido", placeholder="Ingresa tu segundo apellido", maxlength="15", type="text")
    label(for="NSS") Número de seguro social:
    input#NSS.NSS(name="NSS", placeholder="Ingresa tu Número de seguro social", maxlength="11", type="text")
    label(for="edad") Ocupación:
    select#edad.edad(name="edad", required)
      option(value, disabled, selected) Grupo de edad
      option(value="18-24 años") 18-24
      option(value="25-30 años") 25-30
      option(value="31-35 años") 31-35
      option(value="36-40 años") 36-40
      option(value="41-45 años") 41-45
      option(value="46-50") 46-50
    label(for="sexo") Sexo:
    select#sexo.sexo(name="sexo", required)
      option(value, disabled, selected) Selecciona el sexo
      option(value="Mujer") Mujer
      option(value="Hombre") Hombre
    label(for="ocupación") Ocupación:
    select#ocupacion.ocupacion(name="ocupacion", required)
      option(value, disabled, selected) Ocupación
      option(value="Estudiante") Estudiante
      option(value="Empleado") Empleado
      option(value="Autoempleo") Autoempleo
      option(value="Sin empleo") Sin empleo
  br
  br

  .formulario
  
    p Para la realización del cuestionario debe seleccionar la opción que más se acerque a su situación familiar.
    br
    p 1. Los miembros de nuestra familia se dan apoyo entre sí.
    p
      input#preg1(type="radio", name="preg1", value="1")
      |  Casi nunca o nunca 
      input#preg1(type="radio", name="preg1", value="2")
      |  de vez en cuando 
      input#preg1(type="radio", name="preg1", value="3")
      |  A veces 
      input#preg1(type="radio", name="preg1", value="4")
      |  Muchas veces 
      input#preg1(type="radio", name="preg1", value="5")
      |  Casi siempre o siempre
    br
    p 2. En nuestra familia se toman en cuenta las sugerencias de los hijos para resolver los problemas.
     p
      input(type="radio", name="preg2", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg2", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg2", value="3")
      |  A veces 
      input(type="radio", name="preg2", value="4")
      |  Muchas veces 
      input(type="radio", name="preg2", value="5")
      |  Casi siempre o siempre
    br
    p 3. Aceptamos las amistades de los demás miembros de la familia.
    p
      input(type="radio", name="preg3", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg3", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg3", value="3")
      |  A veces 
      input(type="radio", name="preg3", value="4")
      |  Muchas veces 
      input(type="radio", name="preg3", value="5")
      |  Casi siempre o siempre
    br
    p 4. Los hijos pueden opinar en cuanto a su disciplina.
    p
      input(type="radio", name="preg4", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg4", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg4", value="3")
      |  A veces 
      input(type="radio", name="preg4", value="4")
      |  Muchas veces 
      input(type="radio", name="preg4", value="5")
      |  Casi siempre o siempre
    br
    p 5. Nos gusta convivir solamente con los familiares más cercanos.
    p
      input(type="radio", name="preg5", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg5", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg5", value="3")
      |  A veces 
      input(type="radio", name="preg5", value="4")
      |  Muchas veces 
      input(type="radio", name="preg5", value="5")
      |  Casi siempre o siempre
    br
    p 6. Cualquier miembro de la familia puede tomar la autoridad.
    p
      input(type="radio", name="preg6", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg6", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg6", value="3")
      |  A veces 
      input(type="radio", name="preg6", value="4")
      |  Muchas veces 
      input(type="radio", name="preg6", value="5")
      |  Casi siempre o siempre
    br
    p 7. Nos sentimos más unidos entre nosotros que con otras personas que no son de nuestra familia.
    p
      input(type="radio", name="preg7", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg7", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg7", value="3")
      |  A veces 
      input(type="radio", name="preg7", value="4")
      |  Muchas veces 
      input(type="radio", name="preg7", value="5")
      |  Casi siempre o siempre
    br
    p 8. Nuestra familia cambia el modo de hacer las cosas.
    p
      input(type="radio", name="preg8", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg8", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg8", value="3")
      |  A veces 
      input(type="radio", name="preg8", value="4")
      |  Muchas veces 
      input(type="radio", name="preg8", value="5")
      |  Casi siempre o siempre
    br
    p 9. Nos gusta pasar el tiempo libre en familia.
    p
      input(type="radio", name="preg9", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg9", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg9", value="3")
      |  A veces 
      input(type="radio", name="preg9", value="4")
      |  Muchas veces 
      input(type="radio", name="preg9", value="5")
      |  Casi siempre o siempre
    br
    p 10. Padres e hijos se ponen de acuerdo en relación a los castigos.
    p
      input(type="radio", name="preg10", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg10", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg10", value="3")
      |  A veces 
      input(type="radio", name="preg10", value="4")
      |  Muchas veces 
      input(type="radio", name="preg10", value="5")
      |  Casi siempre o siempre
    br
    p 11. Nos sentimos muy unidos.
    p
      input(type="radio", name="preg11", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg11", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg11", value="3")
      |  A veces 
      input(type="radio", name="preg11", value="4")
      |  Muchas veces 
      input(type="radio", name="preg11", value="5")
      |  Casi siempre o siempre
    br
    p 12. Cuando se toma una decisión importante toda la familia está presente.
    p
      input(type="radio", name="preg12", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg12", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg12", value="3")
      |  A veces 
      input(type="radio", name="preg12", value="4")
      |  Muchas veces 
      input(type="radio", name="preg12", value="5")
      |  Casi siempre o siempre
    br
    p 13. Cuando nuestra familia se reúne para hacer algo no falta nadie.
    p
      input(type="radio", name="preg13", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg13", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg13", value="3")
      |  A veces 
      input(type="radio", name="preg13", value="4")
      |  Muchas veces 
      input(type="radio", name="preg13", value="5")
      |  Casi siempre o siempre
    br
    p 14. En nuestra familia las reglas cambian.
    p
      input(type="radio", name="preg14", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg14", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg14", value="3")
      |  A veces 
      input(type="radio", name="preg14", value="4")
      |  Muchas veces 
      input(type="radio", name="preg14", value="5")
      |  Casi siempre o siempre
    br
    p 15. Con facilidad podemos planear actividades en la familia.
    p
      input(type="radio", name="preg15", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg15", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg15", value="3")
      |  A veces 
      input(type="radio", name="preg15", value="4")
      |  Muchas veces 
      input(type="radio", name="preg15", value="5")
      |  Casi siempre o siempre
    br
    p 16. Intercambiamos los quehaceres del hogar entre nosotros.
    p
      input(type="radio", name="preg16", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg16", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg16", value="3")
      |  A veces 
      input(type="radio", name="preg16", value="4")
      |  Muchas veces 
      input(type="radio", name="preg16", value="5")
      |  Casi siempre o siempre
    br
    p 17. Consultamos unos con otros para tomar decisiones.
    p
      input(type="radio", name="preg17", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg17", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg17", value="3")
      |  A veces 
      input(type="radio", name="preg17", value="4")
      |  Muchas veces 
      input(type="radio", name="preg17", value="5")
      |  Casi siempre o siempre
    br
    p 18. En nuestra familia es difícil identificar quien tiene la autoridad.
    p
      input(type="radio", name="preg18", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg18", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg18", value="3")
      |  A veces 
      input(type="radio", name="preg18", value="4")
      |  Muchas veces 
      input(type="radio", name="preg18", value="5")
      |  Casi siempre o siempre
    br
    p 19. La unión familiar es muy importante.
    p
      input(type="radio", name="preg19", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg19", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg19", value="3")
      |  A veces 
      input(type="radio", name="preg19", value="4")
      |  Muchas veces 
      input(type="radio", name="preg19", value="5")
      |  Casi siempre o siempre
    br
    p 20. Es difícil decir quien hace las labores del hogar.
    p
      input(type="radio", name="preg20", value="1")
      |  Casi nunca o nunca 
      input(type="radio", name="preg20", value="2")
      |  de vez en cuando 
      input(type="radio", name="preg20", value="3")
      |  A veces 
      input(type="radio", name="preg20", value="4")
      |  Muchas veces 
      input(type="radio", name="preg20", value="5")
      |  Casi siempre o siempre
    br
    br
    
    input.btnenv#Enviar-formulario(type="submit", name="enviar datos", value="Enviar Datos", onclick="processData()")

    br
    br
    br

    script(src="/javascripts/sendData.js")