doctype html
html
  head
    title Cuestionario de funcionalidad familiar FACES III - Protocolo investigción César Rios IMSS
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content
